
/* itens do formulario */

* {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

.container-form {
    justify-content: center;
}

.form-header {
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 25px;
}

.form-body {
    position: relative;
    margin: 0 auto;
    background-color: #fff;
    border-radius: 5px;
}

.form-body form {
    margin: 15px;
}

.form-body input,
.form-body input[type="text"] {
    width: 300px;
    border-radius: 5px;
    border: 2px solid green;
    margin: 15px 0;
}


.form-body input:hover,
.form-body input[type="text"]:hover{
    border: 2px solid black;
}

.form-items {
    display: block;
}

.form-items span {
    color: red;
}

.btn-form {
    text-align: center;
    margin-bottom: 20px;
}
