* {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

.form-container {
    position: relative;
    margin: 5% auto;
    background-color: #fff;
    border-radius: 5px;
}

.form-header-login {
    text-align: center;
    text-transform: uppercase;
}

.form-login {
    width: 100%;
    margin: 25px;
}

.form-login span {
    color: red;
}

.block {
    display: block;
}

.form-login input[type="email"],
.form-login input[type="password"] {
    border: 2px solid green;
    border-radius: 5px;
}

.form-login input[type="email"]:hover,
.form-login input[type="password"]:hover {
    border: 2px solid black;
}

.form-btn {
    text-align: center;
    margin-bottom: 20px;
}
